@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: rgb(27, 42, 48);
  margin: 0;
  overflow: auto;
  transition: background-color 0.3s ease-out;
}
.t1 {
  font-family: 'Inter', sans-serif;
  font-size: 50px;
  font-weight: bold;
  color: white;
  opacity: 90%;
}

.t2 {
  font-family: 'Inter', sans-serif;
  font-size: 21px;
  font-weight: lighter;
  margin-bottom: 1%;
  color: white;
  opacity: 85%;
}

.t3 {
  font-family: 'Inter', sans-serif;
  font-size: 17px;
  font-weight: lighter;
  color: white;
  opacity: 60%;
}

.t4{
  font-family: 'Inter', sans-serif;
  font-size: 13px;
  font-weight: lighter;
  color: white;
  opacity: 60%;
}
.title{
  position:fixed;
}
.about{
  position:relative;
}

.selectors{
  font-size:13px;
}
hr{
  width: 35px;
}
#about:hover hr, #experience:hover hr, #projects:hover hr {
  width: 100px;
  transition: width 0.3s ease;
}


.social-icons {
  display: flex;
}

.social-icon {
  margin-right: 25px;
  opacity:60%;
  color: white; 
  font-size: 30px;
  transition: color 0.3s ease; 
}

.down{
  font-size: 28px;
}

.social-icon:hover {
  opacity: 100%;
  color: turquoise; 
}
.t3.des{
  font-size: 13px;
}

.card:hover{
  background-color: rgba(169, 169, 169, 0.05);
  transition: background-color 0.3s ease, opacity 0.3s ease;
}

.card:hover .company{
  color:turquoise;
}
.company{
  transition:  color 0.3s ease;
}

.fade-in-top{
  opacity: 0 ; /* Set initial opacity to 0 */
  transform: translateY(-100px); /* Move the element up by 20px initially */
  transition: opacity 1s ease, transform 1s ease;
}

.fade-in-top.active {
  opacity: 1;
  transform: translateY(0); 
}

.fade-in-bot{
  opacity: 0 ; 
  transform: translateY(100px); 
  transition: opacity 1s ease, transform 1s ease;
}

.fade-in-bot.active {
  opacity: 1; 
  transform: translateY(0);
}

.hl {
  opacity: 1 !important;
  color: rgba(255, 255, 255, 0.05)
}
.flashlight {
  position: absolute;
  transform: translate(var(--mouse-x), var(--mouse-y));
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 9999;
}